.header{
    background-color: rgb(255, 255, 255);
}



.mainContent {
    background-image: url("/img/marble1.jpg");
    min-height: 25px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction, .aboutUs, .process, .contactUs {
    border: solid;
    /* border-top: solid;
    border-bottom: solid; */
    /* border-color: red; */
    background-color: white;
}

.sidelineLeft, .sidelineRight {
    background-image: url("/img/BrixEdit1.jpg");
}



